.bg-login {
    background-color: #013e46;
    background-image: -webkit-linear-gradient(0deg, #fff 50%, #677F8F 30%);
    height: 100vh;
}
.bg-login-mob {
    background-color: #013e46;
    background-image: -webkit-linear-gradient(39deg, #013e46 65%, #fff 40%);
    height: 100vh;
}
.login-logo{
    top:12%;
    height:25vh;
    right: 22%;
    position: absolute;

}
.login-logo-mob{
    top:6%;
    height:14vh;
    right: 9%;
    position: absolute;   
}
.btn-login{
    position: relative;
    /* right:30%; */
    top: 50%;
    margin: 20px auto 20px auto;
    padding: 5px 30px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-weight: 700;
    background-color: #677F8F;
    cursor: pointer;
}
.title1{
    top: 46%;
    position: absolute;
    right: 42%;
    /* font-size: 3rem !important; */
    letter-spacing: 2px;
    color: #00bcff;
    font-weight: bold;
}
.title-mob1{
    top: 22%;
    position: absolute;
    right: 6%;
    /* font-size: 3rem !important; */
    letter-spacing: 2px;
    color: #00bcff;
    font-weight: bold;
}
.title{
    top: 40%;
    position: absolute;
    right: 27%;
    /* font-size: 3rem !important; */
    letter-spacing: 2px;
    color: yellowgreen;
    font-weight: bold;
}
.title-mob{
    top: 22%;
    position: absolute;
    right: 6%;
    font-size: 3rem !important;
    letter-spacing: 2px;
    color: yellowgreen;
    font-weight: bold;
}
.sub-title{
    top: 60%;
    position: absolute;
    right: 27%;
    /* font-size: 3rem !important; */
    letter-spacing: 2px;
    color: #fff;
}
.sub-title-mob{
    top: 24%;
    position: absolute;
    right: 6%;
    /* font-size: 3rem !important; */
    letter-spacing: 2px;
    color: #fff;
}
.textfield{
    background-color: #fff;
    margin-bottom: 2% !important;
    /* margin: 12px!important; */
    width: 400px;
    border-radius: 10px;
}
.textfield-mob{
    background-color: #fff;
    margin: 12px!important;
    width: 100%;
    border-radius: 10px;
}
.login-form{
    flex: 0.5;
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: start !important;
}
.login-form-mob{
    flex: 0.5;
    position: absolute;
    top: 38%;
    left: 8%;
}
.left-heading{
    color: #677F8F;
    font-weight: bolder !important;
    margin-bottom: 5% !important;
}
.left-sub-heading{
    color: #677F8F;
    font-weight: bold !important;
    margin-bottom: 5% !important;
}